{% extends "shared/base.html" %}

{% block  title %}
    <title>{{ title }}</title>
{%  endblock  %}
{% block  content %}
    <div class="container">



    <div  style="color: white; text-align:right">
    <p> این سایت توسط علی لطفی ساخته شده</p>
    <br>
<p> هدف ساخت بکند منظم و با کد نویسی بهینه است نه کار کردن روی فرانت و ظاهر سایت و این طاهر فقط برای نشان دادن قابلیت های سایت است </p>
  <br>
  <p> راهنمای استفاده از سایت</p>
        <p>    در ابندا یک اکانت برای خود بسازید به راحتی میتوانید وارد شوید سپس هم رمز خودرا عوض کنید هم عکس پروفایل برای خود انتخاب کنید   </p><br>
        <p>       بعد از ان بدون مشکل میتوانید پست خود رادر سایت قرار دهید </p><br>
        <p>   میتوانید پست راادیت و در صورت ادمین بودن دلیت کنید    </p><br>
        <p>    میتوانید سرچ کنید بر اساس تگ ها متن هاو نام مطالب   </p><br>
        <p>   با کلیک بر روی تگ هر پست به پست هایی که ان تگ را دارند دسترسی خواهید داشت    </p><br>
        <p>     توجه کنید که هیچ فیلدیرو برای گذاشتن پست خالی نگذارید  </p><br>
        <p>      هر پست یکمقدار به نام count دارد این عدد تعدادی است که میتوان از پست شما دیدن کرد و بعد از ان پست از دید رس خارج میشود   </p><br>
        <p>      ممنون از توجهتون </p><br>
        <p>       </p><br>
      <br>
</div>


    </div>

{%  endblock  %}