{% extends "shared/base.html" %}

{% block  title %}
    <title>{{ title }}</title>
{%  endblock  %}
{% block  content %}
<div class="container">

    <form method="post">
    <br>    {% csrf_token %}
   <br><div class="col-6">     <input class="form-control" type="password" placeholder="your old password" name="your_old_password">
        <br>
        <input class="form-control" type="password" placeholder="your new password" name="your_new_password">
        <br>
        <input class="form-control" type="password" placeholder="confirm your new password" name="confirm">
        <br>
        <input type="submit" value="change">
    </div>
    </form>
</div>
    
    

{%  endblock  %}