{% extends "shared/base.html" %}

{% block  title %}
    <title>{{ title }}</title>
{%  endblock  %}
{% block  content %}
<div class="container">

{% if aks %}
        <img  style="height:300px; width:300px " src="{{aks.url}}" alt="">
    {% endif %}
<li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:change_password' %}">changeyour password <span class="sr-only">(current)</span></a>
      </li >
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:profile_photo' %}">changeyour profile photo <span class="sr-only">(current)</span></a>
      </li >






</div>
    
    

{%  endblock  %}