{% extends "shared/base.html" %}

{% block  title %}
    <title>{{ title }}</title>
{%  endblock  %}
{% block  content %}
<div class="container">

    <form  method="post">
        {% csrf_token %}

<div class="col-6">
    <br>
        <input class="form-control" type="text" name="username" placeholder="username">
        <br>

        <input class="form-control" type="password" name="password" placeholder="password">
        <br>
        <input class="form-control" type="password" name="re_password" placeholder="re_password">
        <br>
        <input class="form-control" type="submit" value="register">


</div>









    </form>





</div>

{%  endblock  %}