<nav class="navbar navbar-expand-lg navbar-light bg-dark" >


  <a class="navbar-brand" href="{% url 'home' %}">PARAIBA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav"  >
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li >
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:register' %}">register <span class="sr-only">(current)</span></a>
      </li >
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:login' %}">login <span class="sr-only">(current)</span></a>
      </li >
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:logout' %}">logout <span class="sr-only">(current)</span></a>
      </li >
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_sys:profile' %}">profile <span class="sr-only">(current)</span></a>
      </li >



    </ul>



  </div>
    {% if user.is_authenticated %}
        <div style="color:white"> {{ user.username }}</div>

    {% endif %}
</nav>



         </form>  </div>